Backup_2025-10-10/Analys Logbook
{
  "createdAt": "2025-09-23T22:26:46.299Z",
  "updatedAt": "2025-10-08T12:52:04.000Z",
  "id": "QsUbhYVcmbMuU8ly",
  "name": "Analys Logbook",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -992
      ],
      "id": "b48116d7-aff9-4697-8f8f-a68d4fa055e8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1EAClc0GI63AJHm-cLm-iFMKkydP5SWDj",
            "mode": "list",
            "cachedResultName": "The Logbook - Sammanställningar",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1EAClc0GI63AJHm-cLm-iFMKkydP5SWDj"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -992
      ],
      "id": "28bcace8-edb1-4e5d-a2a5-fe46ff2ab26c",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "R75QT2qp1rBLDWUh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"name\"]}}",
                    "rightValue": "rapport.xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "48bc5fa7-2379-452b-af16-326e7784432a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rapport"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "49980460-3bef-4d5f-99c5-a136ec8ed30b",
                    "leftValue": "={{$json[\"name\"]}}",
                    "rightValue": "antal.xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Antal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        448,
        -992
      ],
      "id": "7c5d8520-8eec-45d7-911e-c9ec064dc8d1",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        -1088
      ],
      "id": "e76dceb6-e50b-4ad1-a5d6-4501db2b6c31",
      "name": "Download - Rapport",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "R75QT2qp1rBLDWUh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        -896
      ],
      "id": "4eb247d7-a257-4966-9a67-b571a26bb346",
      "name": "Download - Antal",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "R75QT2qp1rBLDWUh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "Datum",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        -992
      ],
      "id": "dcd3a46b-a257-4ee4-92b5-c3e430286c5e",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "=data",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        896,
        -896
      ],
      "id": "0dfb370f-685d-42fc-94f0-4b1406daf250",
      "name": "Extract Antal"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        896,
        -1088
      ],
      "id": "5e471194-330d-4ca8-8d63-57722ea79066",
      "name": "Extract Rapport"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9be285a-77a6-44fe-825c-ed09559df02e",
              "name": "Datum",
              "value": "={{ $json[\"Datum\"].split(\" \")[0] }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -1088
      ],
      "id": "c88e14a8-c3f5-43ae-be55-3b7034e98dcd",
      "name": "DatumFixRapport"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9be285a-77a6-44fe-825c-ed09559df02e",
              "name": "Datum",
              "value": "={{ $json[\"Datum\"].split(\" \")[0] }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -896
      ],
      "id": "5bb90e46-6370-40b4-8cf4-a22f0c9c1375",
      "name": "DatumFixAntal"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8f043b0-39f8-4f0f-9297-bb2553793132",
              "name": "prompt",
              "value": "=Grupp:{{ $json.Grupp }}\\n Datum: {{$json[\"Datum\"]}}\\n Statistik: {{$json[\"Tjejer\"]}} tjejer, {{$json[\"Killar\"]}} killar, {{ $json['Icke-binära'] }} icke-binära, {{$json[\"Personal\"]}} personal\nÅldersgrupper: 13-15:{{ $json['13-15'] }}, 16-19:{{ $json['16-19'] }}\n\nRapport: \n{{$json[\"Anteckningar\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -992
      ],
      "id": "e96df663-8931-4c10-b82b-3d4fe630375f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Du är en objektiv analysassistent. Du får data från fritidsgårdsverksamhet i form av statistik och rapporttext.\n\nUppdrag:\n1. Sammanfatta kort vad som hände (2–5 meningar).\n2. Beskriv stämningen (t.ex. lugnt, stökigt, kreativt).\n3. Kommentera ungdomsdelaktighet (initiativ, inflytande, ansvar).\n4. Kommentera behovsanalys (behov eller önskemål uppmärksammades?).\n5. Kommentera relationsskapande (relationer mellan personal och ungdomar).\n6. Ge en reflekterande poäng mellan 0–10 för hur beskrivande rapporten är.\n7. Redovisa även detaljerad besöksstatistik (antal tjejer, killar, icke-binära och personal).  \n8. Redovisa antal i åldersgrupper (13–15 år, 16–19 år).  \n9. Räkna ut summan av alla deltagare (tjejer + killar + icke-binära).\n10. Analys:Vad anser du saknas i denna rapport (svårt att hitta sammanhang, för lite information, saknar reflektion, vem gjorde vad)\n\n⚠️ Viktigt: Svara **endast i JSON-format** enligt detta schema:\n{\n  \"Grupp\": \"...\",\n  \"Datum\": \"...\",\n  \"Sammanfattning\": \"...\",\n  \"Stämning\": \"...\",\n  \"Ungdomsdelaktighet\": \"...\",\n  \"Behovsanalys\": \"...\",\n  \"Relationsskapande\": \"...\",\n  \"Analys\": \"...\",\n  \"Refletionspoäng\": \"...\",\n  \"Besöksstatistik\": {\n    \"Tjejer\": 0,\n    \"Killar\": 0,\n    \"IckeBinära\": 0,\n    \"Personal\": 0,\n    \"Ålder_13_15\": 0,\n    \"Ålder_16_19\": 0,\n    \"Totalt\": 0\n  }\n}\n",
              "role": "system"
            },
            {
              "content": "=Här är data att analysera:\n{{$json[\"prompt\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1792,
        -992
      ],
      "id": "12ba244d-9555-4b86-8f3b-41024c63cfb5",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "qlVANgHQVRewZMT0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let raw = item.json.message?.content ?? \"\";\n\n  if (typeof raw === \"object\") {\n    return { json: raw };\n  }\n\n  raw = raw\n    .trim()\n    .replace(/^```(json)?/i, \"\")\n    .replace(/```$/, \"\")\n    .replace(/^.*?(\\{)/s, \"{\")\n    .replace(/(\\})[^}]*$/, \"}\");\n\n  try {\n    let parsed = JSON.parse(raw);\n\n    // Om JSON ligger som sträng inuti JSON\n    if (typeof parsed === \"string\") {\n      parsed = JSON.parse(parsed);\n    }\n\n    return { json: parsed };\n  } catch (err) {\n    return { json: { error: \"Kunde inte parsa GPT-output\", raw } };\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -992
      ],
      "id": "be0bc19c-f556-4591-ac2e-b2c7130aebc7",
      "name": "Parse 2 Nice JSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edb6df5e-c1d1-4a29-a15f-1e110de7c4f5",
              "name": "docContent",
              "value": "=📅 Datum: {{$json[\"Datum\"]}}\n\n📝 Sammanfattning:\n{{$json[\"Sammanfattning\"]}}\n\n🌡️ Stämning:\n{{$json[\"Stämning\"]}}\n\n🙋 Ungdomsdelaktighet:\n{{$json[\"Ungdomsdelaktighet\"]}}\n\n📌 Behovsanalys:\n{{$json[\"Behovsanalys\"]}}\n\n🤝 Relationsskapande:\n{{$json[\"Relationsskapande\"]}}\n\n⭐ Reflektionspoäng:\n{{$json[\"Reflektionspoäng\"]}} / 10\n\nBesöksstatistik\nKillar: {{ $json['Besöksstatistik'].Killar }}\nTjejer: {{ $json['Besöksstatistik'].Tjejer }}\n\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        -1088
      ],
      "id": "8cc25e0f-2981-4347-8dbc-3712fb30008b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{$json[\"docContent\"]}}\n{{ $json.choices[0].message.content }}",
        "name": "=Sammanställning-{{$now.toFormat(\"yyyy-LL-dd\")}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1EAClc0GI63AJHm-cLm-iFMKkydP5SWDj",
          "mode": "list",
          "cachedResultName": "The Logbook - Sammanställningar",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1EAClc0GI63AJHm-cLm-iFMKkydP5SWDj"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3392,
        -1088
      ],
      "id": "5ae574d6-ae83-4a70-9c29-218458457b1c",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "R75QT2qp1rBLDWUh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let content = \"\";\n\nfor (const item of items) {\n  const d = item.json;\n\n  content += `📅 Datum: ${d.Datum || \"\"}\\n\\n`;\n  content += `📝 Sammanfattning:\\n${d.Sammanfattning || \"\"}\\n\\n`;\n  content += `🌡️ Stämning:\\n${d.Stämning || \"\"}\\n\\n`;\n  content += `🙋 Ungdomsdelaktighet:\\n${d.Ungdomsdelaktighet || \"\"}\\n\\n`;\n  content += `📌 Behovsanalys:\\n${d.Behovsanalys || \"\"}\\n\\n`;\n  content += `🤝 Relationsskapande:\\n${d.Relationsskapande || \"\"}\\n\\n`;\n  content += `⭐ Reflektionspoäng:\\n${d.Reflektionspoäng || \"\"} / 10\\n\\n`;\n\n  if (d.Besöksstatistik) {\n    content += `👥 Besöksstatistik:\\n`;\n    content += `- Tjejer: ${d.Besöksstatistik.Tjejer || 0}\\n`;\n    content += `- Killar: ${d.Besöksstatistik.Killar || 0}\\n`;\n    content += `- Icke-binära: ${d.Besöksstatistik.IckeBinära || 0}\\n`;\n    content += `- Personal: ${d.Besöksstatistik.Personal || 0}\\n`;\n    content += `- Ålder 13-15: ${d.Besöksstatistik[\"Ålder_13_15\"] || 0}\\n`;\n    content += `- Ålder 16-19: ${d.Besöksstatistik[\"Ålder_16_19\"] || 0}\\n`;\n    content += `- Totalt: ${d.Besöksstatistik.Totalt || 0}\\n\\n`;\n  }\n\n  content += `--------------------------------------\\n\\n`;\n}\n\n// Returnera bara ETT objekt\nreturn [\n  {\n    json: {\n      docContent: content\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        -1088
      ],
      "id": "12a790f0-610b-4190-a796-847aeae83efd",
      "name": "Code",
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Du är en objektiv analysassistent. Du får en samling dagliga rapporter från en fritidsgårdsverksamhet. \nDitt uppdrag är att skapa en sammanfattande slutsats som personalen kan använda i reflektion och planering. \n\nUppdrag:\n1. Identifiera återkommande mönster i stämning, ungdomsdelaktighet, behovsanalys och relationsskapande.\n2. Lyft fram både styrkor och utmaningar i verksamheten.\n3. Inkludera 3–5 representativa citat eller korta utdrag från rapporterna (välj de som bäst visar stämning, delaktighet eller behov).\n4. Ge en översiktlig besöksbild: genomsnittlig närvaro, balans mellan tjejer, killar, icke-binära och åldersgrupper. Räkna inte in personalantal i sammaställda antal, redovisa separat.\n5. Kommentera särskilda avvikelser eller händelser som sticker ut.\n6. Avsluta med en sammanfattande reflektion (3–4 meningar) som kan användas som underlag för utvecklingsarbete.\n7. Lista tips hur fritidsledarna kan formulera sina rapporter på effektivare sätt och tänk kontruktivt. Basera detta på Analys.\n8. Ge mig en positiv text om resultatet som kan läsas upp för personalen.\n\n⚠️ Viktigt: Svara i ren text (ingen JSON).\n",
              "role": "system"
            },
            {
              "content": "=Här är data att analysera:\n{{ $json.docContent }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2800,
        -1264
      ],
      "id": "85cd7425-cc82-4f9c-869b-355db83028c4",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "qlVANgHQVRewZMT0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2896,
        -992
      ],
      "id": "53236450-53f8-4fe4-8722-d9017ef21e0b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=RappORT.txt",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1EAClc0GI63AJHm-cLm-iFMKkydP5SWDj",
          "mode": "list",
          "cachedResultName": "The Logbook - Sammanställningar",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1EAClc0GI63AJHm-cLm-iFMKkydP5SWDj"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2784,
        -656
      ],
      "id": "836548fe-15b8-4d03-bcc9-5c3502e3ed30",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "R75QT2qp1rBLDWUh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Flatten-funktion för att göra alla fält separata kolumner\nfunction flatten(obj, prefix = \"\") {\n  let res = {};\n  for (let key in obj) {\n    if (typeof obj[key] === \"object\" && obj[key] !== null) {\n      Object.assign(res, flatten(obj[key], prefix + key + \"_\"));\n    } else {\n      res[prefix + key] = obj[key];\n    }\n  }\n  return res;\n}\n\nconst flatItems = items.map(i => flatten(i.json));\nconst headers = Object.keys(flatItems[0]);\n\n// Bygg tabbavgränsad text\nlet txt = headers.join(\"\\t\") + \"\\r\\n\";  // CRLF\n\nfor (const item of flatItems) {\n  const row = headers.map(h => {\n    let val = item[h] || \"\";\n    val = val.toString()\n             .replace(/\\r?\\n|\\r/g, \" \")  // inga radbrytningar i celler\n             .replace(/\\t/g, \" \");       // inga tabb i celler\n    return val;\n  });\n  txt += row.join(\"\\t\") + \"\\r\\n\";\n}\n\n// BOM + UTF-16LE (mest kompatibelt med InDesign)\nconst bom = Buffer.from([0xFF, 0xFE]); // UTF-16LE BOM\nconst utf16 = Buffer.from(txt, \"utf16le\");\n\n// Slå ihop BOM + data\nconst finalBuffer = Buffer.concat([bom, utf16]);\n\nreturn [\n  {\n    json: {},\n    binary: {\n      data: {\n        data: finalBuffer.toString(\"base64\"),\n        mimeType: \"text/plain\",\n        fileName: \"rapport.txt\"\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        -832
      ],
      "id": "e0f3e1b1-211f-4c0f-bfca-cdc1d81956ed",
      "name": "TXT KOMMASEPARERAT"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download - Rapport",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download - Antal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download - Rapport": {
      "main": [
        [
          {
            "node": "Extract Rapport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download - Antal": {
      "main": [
        [
          {
            "node": "Extract Antal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Antal": {
      "main": [
        [
          {
            "node": "DatumFixAntal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Rapport": {
      "main": [
        [
          {
            "node": "DatumFixRapport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DatumFixRapport": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DatumFixAntal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse 2 Nice JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse 2 Nice JSON": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "TXT KOMMASEPARERAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TXT KOMMASEPARERAT": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Message a model": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "```json\n{\n  \"Grupp\": \"Drop In - BG\",\n  \"Datum\": \"2025-10-07\",\n  \"Sammanfattning\": \"Under arbetsdagen har personal haft samtal med ungdomar kring en pågående ryktesspridning för att förebygga oro. Det anordnades ett spontant Girl Talk-möte som övergick till pizzabak med tjejfokus. Några ungdomar som inte följde tillsägelser bads lämna, och planeras samtalas med nästa dag. Fotogruppen och Musikproduktionsgruppen var aktiva, samt D&D-gruppen fick en genomgång av inspelningsutrustning. En ny ungdom deltog och en började laga gitarr.\",\n  \"Stämning\": \"Stämningen beskrivs som livlig och engagerad med bra drag, men också med vissa utmaningar kring disciplin och rykten som orsakat oro bland ungdomarna.\",\n  \"Ungdomsdelaktighet\": \"Ungdomarna visade initiativ genom att delta i olika grupper som fotogrupp, musikproduktion, D&D och pizzabak. Några ungdomar tog också ansvar att göra enkäter och visa intresse att driva fiket vidare tillsammans med personal.\",\n  \"Behovsanalys\": \"Rapporten uppmärksammar behov av tydligare rutiner för ungdomar som hänger utanför toaletter och beslut om verksamheten på uteplatsen. Behovet av fler gitarrsträngar och snabb hantering av rykten lyfts också fram.\",\n  \"Relationsskapande\": \"Personal har arbetat med samtal både med berörda ungdomar och i grupp, vilket visar på en aktiv relationsbyggande process. Även personalens vilja att följa upp situationer på individnivå indikerar goda relationer och ansvarstagande.\",\n  \"Analys\": \"Rapporten ger en bra översikt av aktiviteter och situationer under dagen men saknar tydligare struktur kring vem som ansvarar för vad. Det finns viss reflektion kring arbetssätt och behov men mer detaljerad uppföljning och kontext kring ryktena skulle förbättra förståelsen.\",\n  \"Refletionspoäng\": 7,\n  \"Besöksstatistik\": {\n    \"Tjejer\": 27,\n    \"Killar\": 34,\n    \"IckeBinära\": 7,\n    \"Personal\": 7,\n    \"Ålder_13_15\": 38,\n    \"Ålder_16_19\": 30,\n    \"Totalt\": 68\n  }\n}\n```",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "{\n  \"Grupp\": \"Drop In - BG\",\n  \"Datum\": \"2025-10-06\",\n  \"Sammanfattning\": \"Ungdomarna fokuserade på att fylla i Mötesplatsenkäten, vilket gick mycket bra. Diskussioner om pantsystemet och spelkontrollerna fördes, och ungdomar tog initiativ till att öppna fiket. Det fanns en incident med vaping inomhus och vissa upprepade oacceptabla beteenden noterades. D&D-gruppen har bokat in sina första träffar i poddrummet nästa vecka.\",\n  \"Stämning\": \"Trycket var bra och aktivt med ett positivt fokus trots att något spel inte var tillgängligt, men inslag av oro fanns på grund av oacceptabla skämt och regelbrott.\",\n  \"Ungdomsdelaktighet\": \"Ungdomarna visade initiativ både genom att aktivt delta i enkäten och föreslå förbättringar för pantsystemet och spelkontrollerna. Några tog ansvar för fiket. Delaktigheten i beslut kring verksamheten är på gång men behöver stärkts ytterligare.\",\n  \"Behovsanalys\": \"Ungdomars behov och förslag uppmärksammades, särskilt gällande pantsystem och spelkontroller. Problematiken kring ansvar för möblemang och regler kring vaping pekar på behov av tydligare regler och uppföljning.\",\n  \"Relationsskapande\": \"Personal tog aktivt ansvar att hantera incidenter och samtal, vilket visar ett pågående arbete för att bygga relationer och gemensamt normskapande, trots utmaningar med vissa ungdomars beteende.\",\n  \"Analys\": \"Rapporten ger en bra beskrivning av händelser och reflektioner, men saknar tydlig fördelning av ansvar och en mer systematisk genomgång av resultat från enkäten. Kontext och uppföljning på påpekade problem skulle kunna utvecklas mer.\",\n  \"Refletionspoäng\": \"7\",\n  \"Besöksstatistik\": {\n    \"Tjejer\": 16,\n    \"Killar\": 23,\n    \"IckeBinära\": 4,\n    \"Personal\": 3,\n    \"Ålder_13_15\": 29,\n    \"Ålder_16_19\": 14,\n    \"Totalt\": 43\n  }\n}",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "{\n  \"Grupp\": \"Drop In - HELG\",\n  \"Datum\": \"2025-10-04\",\n  \"Sammanfattning\": \"På grund av stormigt och dåligt väder kom färre ungdomar än vanligt, men de som var där stannade hela kvällen. En filmkväll anordnades som önskades av ungdomarna, med snacks och visning i kreativa. Efter filmen blev det lätt stökigt men personalen lyckades snabbt återställa lugnet. Några ungdomar spelade trummor i studion, men ingen ungdomsproducerad verksamhet genomfördes.\",\n  \"Stämning\": \"Mysig men under kontroll, med viss oro efter en stillasittande filmvisning då det höll på att bli stökigt men lugnades av personalens ingripande.\",\n  \"Ungdomsdelaktighet\": \"Ungdomarna visade initiativ genom att önska filmkväll och delta i trumspel i studion, dock ingen organiserad ungdomsproducerad verksamhet denna gång.\",\n  \"Behovsanalys\": \"Ungdomarnas önskan om filmkväll togs tillvara och aktiviteter anpassades efter det, vilket visar att deras behov och önskemål uppmärksammades.\",\n  \"Relationsskapande\": \"Personalen visade närvaro och engagemang genom att snabbt ingripa när det blev stökigt och genom att finnas där för ungdomarna under hela kvällen, samt tack vare akutinkallning av Kenneth som stärkte bemanningen.\",\n  \"Analys\": \"Rapporten är relativt informativ gällande vad som hände och personalens reflektioner, men det saknas tydlig information om individspecifika insatser och ungdomens egna ansvar. Mer detaljer om vilka initiativ ungdomarna tog och hur personalen organiserade verksamheten kunde förbättrat rapportens kvalitet.\",\n  \"Refletionspoäng\": \"7\",\n  \"Besöksstatistik\": {\n    \"Tjejer\": 18,\n    \"Killar\": 36,\n    \"IckeBinära\": 2,\n    \"Personal\": 4,\n    \"Ålder_13_15\": 30,\n    \"Ålder_16_19\": 26,\n    \"Totalt\": 56\n  }\n}",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "{\n  \"Grupp\": \"Drop In - HELG\",\n  \"Datum\": \"2025-10-03\",\n  \"Sammanfattning\": \"Under kvällen öppnade fritidsgården med lugn start och sedan ökade antalet ungdomar till över 40 samtidigt. Fokus låg på sociala aktiviteter som dans, pingis och musik, samt gemenskap och bullbak. Några ungdomar ville spela FIFA-turnering, men kom inte igång, och ett mindre drama vid toaletterna löstes snabbt med ursäkter. Personal hanterade magsjukdom och enligt rapporten var bemanningen tillräcklig men intensiv.\",\n  \"Stämning\": \"Allmänt fin och positiv med gemenskap och glädje, trots enstaka incidenter som snabbt löstes. Ungdomarna uppvisade mycket energi och samspel.\",\n  \"Ungdomsdelaktighet\": \"Ungdomar tog initiativ till olika aktiviteter såsom dans, pingis, musik och förslag på FIFA-turnering vilket visade på inflytande och engagemang. De deltog aktivt i sociala medier och samspelet med personal.\",\n  \"Behovsanalys\": \"Behov av ökad personalstyrka under toppar uppmärksammades, liksom behovet att hålla koll vid toaletter och genomföra stickprovskontroller på väskor. Ungdomarnas behov av sociala och kreativa aktiviteter tillgodosågs i hög grad.\",\n  \"Relationsskapande\": \"Personalen hade en god kontakt med ungdomarna, var närvarande och agerade tryggt, vilket även bekräftades av en orolig förälder. Personalen lyckades också med att snabbt lösa konflikter när de uppstod.\",\n  \"Analys\": \"Rapporten är detaljerad och innehåller både besöksstatistik och beskrivning av aktiviteter, personalens insatser samt reflektioner kring händelser och bemanning. Den saknar dock detaljerad analys av ungdomarnas individuella upplevelser och uppföljning av incidenter samt tydlig fördelning av arbetsuppgifter mellan personal.\",\n  \"Refletionspoäng\": 8,\n  \"Besöksstatistik\": {\n    \"Tjejer\": 34,\n    \"Killar\": 36,\n    \"IckeBinära\": 13,\n    \"Personal\": 6,\n    \"Ålder_13_15\": 32,\n    \"Ålder_16_19\": 51,\n    \"Totalt\": 83\n  }\n}",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "{\n  \"Grupp\": \"Drop In - BG\",\n  \"Datum\": \"2025-10-02\",\n  \"Sammanfattning\": \"Det var en mycket välbesökt dag med 92 ungdomar. Aktiviteten fokuserade på ungdomsproducerade initiativ som möte för övernattning, cosplay, podcasting, musikstudion och bakning. Pant-lösningen fungerade bra och flera grupper samarbetade för olika projekt. Konflikter kring attityder och beteende uppmärksammades, liksom utmaningar med lokal användning, till exempel vid toaletterna och fiket.\",\n  \"Stämning\": \"Stämningen var överlag kreativ och engagerad med mycket aktivitet, men några få ungdomar visade tröttsam attityd och trots mot regler gällande att äta i soffor och beteende vid toaletterna.\",\n  \"Ungdomsdelaktighet\": \"Ungdomarna visade stort initiativ med höjdpunktmöte, poddande, cosplaygrupp, bakning och musikrepetitioner. Det fanns inflytande i planering och ansvarstagande, exempelvis genom diskussion om studiecirkellösning och eget fikansvar.\",\n  \"Behovsanalys\": \"Behov av struktur och ordningsregler kring ätande och användning av toaletter uppmärksammades. Undersökning av celiaki för en ungdom och behov av introduktion till utrustning lyftes. Fältgruppens närvaro visar på stödinsatser för vissa ungdomar.\",\n  \"Relationsskapande\": \"Personalen hade god kontakt med ungdomar och samarbetade i flera aktiviteter. Samtal och planering, både individuellt och i grupper, visar på närvarande personalrelationer och stödjande miljö.\",\n  \"Refletionspoäng\": \"8\",\n  \"Besöksstatistik\": {\n    \"Tjejer\": 39,\n    \"Killar\": 52,\n    \"IckeBinära\": 17,\n    \"Personal\": 7,\n    \"Ålder_13_15\": 62,\n    \"Ålder_16_19\": 46,\n    \"Totalt\": 108\n  },\n  \"Analys\": \"Rapporten ger en bra beskrivning av aktiviteter och bemanning men saknar tydliga fakta om vilka specifika individer som ansvarar för olika delar, vilket skulle kunna höja tydligheten i vem som gör vad. Det finns en del reflektion men för lite analys av orsaker bakom ungdomars negativa beteenden samt hur personalen planerar att arbeta vidare med dessa utmaningar. Rapporten skulle kunna stärkas med mer systematisk behovsanalys kopplat till beteendeproblem och en plan för åtgärder.\"\n}",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "{\n  \"Grupp\": \"Drop In - BG\",\n  \"Datum\": \"2025-10-01\",\n  \"Sammanfattning\": \"Under passet plockades spelutrustning bort för att minska stök, samtidigt som ungdomar engagerade sig i kreativa aktiviteter som smyckes- och pinstillverkning. Ett pantsystem infördes för låning av spelutrustning vilket fungerade bra. Besök från bandet Räd och fältgruppen ägde rum, samt planering inför höstlovets filmvisningar diskuterades. Personal och ungdomar kommunicerade väl trots vissa utmaningar med personalbrist.\",\n  \"Stämning\": \"Stämningen var överlag bra och lugn med god kommunikation, trots tidigare stök kring spelutrustningen. Ungdomarna accepterade förändringarna utan tjafs och visade kreativitet och initiativförmåga.\",\n  \"Ungdomsdelaktighet\": \"Ungdomarna tog initiativ till att starta och delta i kreativa grupper såsom smyckes- och pinstillverkning. De involverades även i pantsystemet för låning av spelutrustning. Inflytandet märktes genom dialog om aktiviteter och höstlovsönskemål. Ansvar togs för sitt beteende i samband med nya regler.\",\n  \"Behovsanalys\": \"Behovet av lugnare miljö kring spelutrustning uppmärksammades och åtgärdades genom att plocka bort viss utrustning och införa pantsystem. Ungdomarnas önskan om filmvisningar under höstlovet togs emot och planeras att genomföras. Personalens behov av bättre rastlösning vid personalbrist nämndes i reflektionen.\",\n  \"Relationsskapande\": \"Relationerna mellan personal och ungdomar verkar goda med öppen kommunikation och positiv återkoppling, exempelvis stolthet över Albins arbetsinsats. Personal agerade enhetligt och stöttade varandra. Några utmaningar kvarstår vid personalbrist men överlag är samarbetet starkt.\",\n  \"Analys\": \"Rapporten ger en god överblick över aktiviteter och stämning men saknar tydlig information om vem som utförde specifika insatser utöver några namn. Reflektionerna är personliga men skulle vinna på tydligare kopplingar till ungdomars perspektiv och mer systematisk utvärdering. Sammanhang och kontext är någorlunda tydligt, dock kunde mål kopplas tydligare till åtgärder.\",\n  \"Refletionspoäng\": 7,\n  \"Besöksstatistik\": {\n    \"Tjejer\": 22,\n    \"Killar\": 40,\n    \"IckeBinära\": 9,\n    \"Personal\": 6,\n    \"Ålder_13_15\": 30,\n    \"Ålder_16_19\": 41,\n    \"Totalt\": 71\n  }\n}",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ]
  },
  "versionId": "d521440d-99d0-4fe7-995d-4436ed6cc6ea",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-23T22:26:46.311Z",
      "updatedAt": "2025-09-23T22:26:46.311Z",
      "role": "workflow:owner",
      "workflowId": "QsUbhYVcmbMuU8ly",
      "projectId": "ZOaOlv2Mz7C5Yg5V"
    }
  ],
  "tags": []
}