Backup_2025-10-10/BackupWorkflows
{
  "createdAt": "2025-10-09T20:19:49.424Z",
  "updatedAt": "2025-10-10T09:34:56.000Z",
  "id": "WGZmNNtndQU4JMfW",
  "name": "BackupWorkflows",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        -288
      ],
      "id": "0baaf9a7-3efe-42ea-8388-31ae9a8f6efd",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -304,
        -128
      ],
      "id": "db4583a9-ae76-4469-93c0-1ce4a7a09a1c",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "jwNRIVd8ZIakxVcy",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b153c45d-4498-479a-8a92-ea443810a9b9",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd')}}",
              "type": "string"
            },
            {
              "id": "85e2daf5-7c4a-4bd3-b89a-0410f3ce9f96",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        -128
      ],
      "id": "d3ca148f-6eac-444a-ad4d-7e186cd5b9b1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        -128
      ],
      "id": "98f7ee15-2503-4477-878d-4ea4b70c531f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45539e5c-8878-42d8-9ded-2505d809d0c3",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "742fe8b6-bbff-4731-a813-233ca6c8b500",
              "name": "fileName",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -112
      ],
      "id": "ad155d39-a849-4354-9abc-16f8130f813a",
      "name": "Preper File Content"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        384,
        -128
      ],
      "id": "6207ca3b-e238-4728-bcde-e7fb1527ebd0",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "conzpiro",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/conzpiro/n8n-backup"
        },
        "filePath": "={{ $('Edit Fields').item.json.folderName }}/{{ $('Preper File Content').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Europe/Stockholm').format('yyyy-MM-dd T') }} Backup completed\n"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        608,
        -128
      ],
      "id": "20830b96-ef2e-4a2a-b608-92a72b76b512",
      "name": "Create a file",
      "webhookId": "55188c2d-d3b6-417d-9045-9b6faa43e38f",
      "credentials": {
        "githubApi": {
          "id": "DjGHIKRB41bTLLdD",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1p2_9YZGN6t0mLKnzNZ6clkVTGWqAUmq9R7qzr4tWg_k",
          "mode": "list",
          "cachedResultName": "Daily Backup n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p2_9YZGN6t0mLKnzNZ6clkVTGWqAUmq9R7qzr4tWg_k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p2_9YZGN6t0mLKnzNZ6clkVTGWqAUmq9R7qzr4tWg_k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Europe/Stockholm').format('yyyy-MM-dd T') }}",
            "Folder Name": "={{ $('Edit Fields').item.json.folderName }}",
            "File Name": "={{ $('Preper File Content').item.json.fileName }}",
            "Error Message": "={{ $json.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        -32
      ],
      "id": "08cfd05d-7cc6-4c68-b8ee-3ed8faa06b7b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mfSpR9qn5T9hu3Km",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "conzpiro",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/conzpiro/n8n-backup"
        },
        "filePath": "={{ $('Edit Fields').item.json.folderName }}/Readme.md",
        "fileContent": "=# N8N Workflow Backup – {{ $('Edit Fields').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Europe/Stockholm').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Europe/Stockholm').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*\n"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        112,
        -336
      ],
      "id": "1dd24eba-ff2d-46b1-b781-256dd9d02d4f",
      "name": "Create a file1",
      "webhookId": "2564c889-3d51-4e3d-9540-0d9c4a2819ec",
      "credentials": {
        "githubApi": {
          "id": "DjGHIKRB41bTLLdD",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        -112
      ],
      "id": "1f8f4bcc-df67-4b89-b1f5-6fbeac3bc9a7",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Create a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preper File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preper File Content": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "33b7538a-8c48-45a3-9ff1-8a4b2cfb3076",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-09T20:19:49.435Z",
      "updatedAt": "2025-10-09T20:19:49.435Z",
      "role": "workflow:owner",
      "workflowId": "WGZmNNtndQU4JMfW",
      "projectId": "ZOaOlv2Mz7C5Yg5V"
    }
  ],
  "tags": []
}