Backup_2025-10-10/BackupWorkflows
{
  "createdAt": "2025-10-09T20:19:49.424Z",
  "updatedAt": "2025-10-09T20:48:37.000Z",
  "id": "WGZmNNtndQU4JMfW",
  "name": "BackupWorkflows",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -352,
        -176
      ],
      "id": "0baaf9a7-3efe-42ea-8388-31ae9a8f6efd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -176,
        -16
      ],
      "id": "db4583a9-ae76-4469-93c0-1ce4a7a09a1c",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "jwNRIVd8ZIakxVcy",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $json.name }}",
        "name": "=",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "17L1k4AdnjXPlLK1PJ3WDXhE6OmVvy1mR",
          "mode": "list",
          "cachedResultName": "Backup",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17L1k4AdnjXPlLK1PJ3WDXhE6OmVvy1mR"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        -112
      ],
      "id": "9547086f-65f2-4044-88fd-65cae94c899b",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "R75QT2qp1rBLDWUh",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f2bc991c-1359-4c57-84d6-153828cd58f2",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-09T20:19:49.435Z",
      "updatedAt": "2025-10-09T20:19:49.435Z",
      "role": "workflow:owner",
      "workflowId": "WGZmNNtndQU4JMfW",
      "projectId": "ZOaOlv2Mz7C5Yg5V"
    }
  ],
  "tags": []
}