Backup_2025-10-10/Nyhetssamlare
{
  "createdAt": "2025-10-03T07:55:08.564Z",
  "updatedAt": "2025-10-08T19:51:40.000Z",
  "id": "lOHKsPNOWcnB3psP",
  "name": "Nyhetssamlare",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://rss.aftonbladet.se/rss2/small/pages/sections/senastenytt/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -384,
        -768
      ],
      "id": "53af1324-ee93-43fb-98d5-6fedb9faa426",
      "name": "Aftonbladet RSS"
    },
    {
      "parameters": {
        "url": "https://feeds.expressen.se/nyheter/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -384,
        -576
      ],
      "id": "82680006-8e8c-4e24-be11-21c460fffc0d",
      "name": "Expressen RSS"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -160,
        -768
      ],
      "id": "a1ffbad2-a8f9-4726-9d27-7bbfd6278f47",
      "name": "Limit"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -160,
        -576
      ],
      "id": "5ece8d7f-567e-4c6d-ae09-ed8c50ae5761",
      "name": "Limit1"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -160,
        -384
      ],
      "id": "9c7cece1-b0b1-45f7-bff0-0b6c4d008b5f",
      "name": "Limit2"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -384,
        -384
      ],
      "id": "87aa9cd9-281e-4120-852f-51cd41d6a776",
      "name": "TechCrunch RSS"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction stripHTML(str) {\n  return str ? str.replace(/<[^>]*>?/gm, '').trim() : '';\n}\n\nfunction parseDate(d) {\n  const date = new Date(d);\n  return isNaN(date.getTime()) ? 0 : date.getTime();\n}\n\nfunction formatDate(d) {\n  try {\n    return new Date(d).toLocaleDateString('sv-SE', {\n      day: 'numeric',\n      month: 'short',\n      year: 'numeric',\n    });\n  } catch {\n    return '';\n  }\n}\n\n// 1️⃣ sortera nyaste först\nitems.sort(\n  (a, b) =>\n    parseDate(b.json.isoDate || b.json.pubDate) -\n    parseDate(a.json.isoDate || a.json.pubDate)\n);\n\n// 2️⃣ skapa klickbara rader med datum och källa\nconst lines = items.map((i) => {\n  const j = i.json;\n  const title = stripHTML(j.title || 'Ingen titel');\n  const url = j.link || j.url || '';\n  const source =\n    j.feedTitle ||\n    j['dc:creator'] ||\n    j.source ||\n    (j.link ? new URL(j.link).hostname.replace('www.', '') : 'Okänd källa');\n  const date = formatDate(j.isoDate || j.pubDate || j.published || new Date());\n  return `• [${title}](${url}) — ${source} · ${date}`;\n});\n\n// 3️⃣ slå ihop allt till ett meddelande\nconst message = `🗞️ **TechCrunch**\\n` + lines.join('\\n');\n\nreturn [{ json: { content: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -384
      ],
      "id": "477bca53-1bb3-49b0-876d-c19da4fcfdd1",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=**Expressen**",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        288,
        -576
      ],
      "id": "f30df42d-73c6-40b8-8543-c8273e43e983",
      "name": "Discord",
      "webhookId": "6be0b014-0ff9-44d9-bede-ad3e32958a43",
      "credentials": {
        "discordWebhookApi": {
          "id": "Pn7a74tA19SOGk9R",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction stripHTML(str) {\n  return str ? str.replace(/<[^>]*>?/gm, '').trim() : '';\n}\n\nfunction parseDate(d) {\n  const date = new Date(d);\n  return isNaN(date.getTime()) ? 0 : date.getTime();\n}\n\nfunction formatDate(d) {\n  try {\n    return new Date(d).toLocaleDateString('sv-SE', {\n      day: 'numeric',\n      month: 'short',\n      year: 'numeric',\n    });\n  } catch {\n    return '';\n  }\n}\n\nfunction getHostname(url) {\n  if (!url || typeof url !== 'string') return 'Okänd källa';\n  const match = url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n  return match ? match[1] : 'Okänd källa';\n}\n\n// 1️⃣ sortera nyaste först\nitems.sort(\n  (a, b) =>\n    parseDate(b.json.isoDate || b.json.pubDate) -\n    parseDate(a.json.isoDate || a.json.pubDate)\n);\n\n// 2️⃣ skapa klickbara rader med datum och källa\nconst lines = items.map((i) => {\n  const j = i.json;\n  const title = stripHTML(j.title || 'Ingen titel');\n  const url = j.link || j.url || '';\n  const source =\n    j.feedTitle ||\n    j['dc:creator'] ||\n    j.source ||\n    getHostname(j.link);\n  const date = formatDate(j.isoDate || j.pubDate || j.published || new Date());\n  return `• [${title}](${url}) — ${source} · ${date}`;\n});\n\n// 3️⃣ slå ihop allt till ett meddelande\nconst message = `🗞️ **Expressen**\\n` + lines.join('\\n');\n\nreturn [{ json: { content: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -576
      ],
      "id": "4049ca3c-58e5-4399-9f17-37e53c143706",
      "name": "Code1"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        288,
        -384
      ],
      "id": "0cb31a8b-9d89-4a87-ac55-137ef343aa3e",
      "name": "Discord1",
      "webhookId": "6be0b014-0ff9-44d9-bede-ad3e32958a43",
      "credentials": {
        "discordWebhookApi": {
          "id": "Pn7a74tA19SOGk9R",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=**Aftonbladet**",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        288,
        -768
      ],
      "id": "b086d99e-4334-4f7e-baad-23a2736b7265",
      "name": "Discord2",
      "webhookId": "6be0b014-0ff9-44d9-bede-ad3e32958a43",
      "credentials": {
        "discordWebhookApi": {
          "id": "Pn7a74tA19SOGk9R",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n/**\n * === KONFIGURATION ===\n * Lägg till fler om du har olika format\n */\nconst config = {\n  titleFields: ['title', 'headline', 'item_title'],\n  urlFields: ['link', 'url', 'guid'],\n  dateFields: ['isoDate', 'pubDate', 'published', 'date'],\n  sourceFields: ['feedTitle', 'source', 'author', 'creator']\n};\n\n/**\n * === Hjälpfunktioner ===\n */\nfunction firstAvailable(obj, keys) {\n  for (const key of keys) {\n    if (obj[key]) return obj[key];\n  }\n  return null;\n}\n\nfunction stripHTML(str) {\n  return str ? str.replace(/<[^>]*>?/gm, '').trim() : '';\n}\n\nfunction parseDate(d) {\n  const date = new Date(d);\n  return isNaN(date.getTime()) ? 0 : date.getTime();\n}\n\nfunction formatDate(d) {\n  try {\n    return new Date(d).toLocaleDateString('sv-SE', {\n      day: 'numeric',\n      month: 'short',\n      year: 'numeric'\n    });\n  } catch {\n    return '';\n  }\n}\n\nfunction getHostname(url) {\n  const match = url.match(/https?:\\/\\/([^/]+)/);\n  return match ? match[1].replace('www.', '') : 'Okänd källa';\n}\n\n/**\n * === Huvudlogik ===\n */\n\n// sortera nyaste först\nitems.sort((a, b) => {\n  const adate = firstAvailable(a.json, config.dateFields);\n  const bdate = firstAvailable(b.json, config.dateFields);\n  return parseDate(bdate) - parseDate(adate);\n});\n\n// begränsa till 10 nyaste\nconst latest = items.slice(0, 10);\n\n// bygg utdata\nconst lines = latest.map((i) => {\n  const j = i.json;\n  const title = stripHTML(firstAvailable(j, config.titleFields) || 'Ingen titel');\n  const url = firstAvailable(j, config.urlFields) || '';\n  const source =\n    firstAvailable(j, config.sourceFields) || getHostname(url);\n  const date = formatDate(firstAvailable(j, config.dateFields) || new Date());\n  return `• [${title}](${url}) — ${source} · ${date}`;\n});\n\n// slå ihop till Discord-meddelande\nconst message = `🗞️ **Aftonbladet**\\n` + lines.join('\\n');\n\nreturn [{ json: { content: message } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -768
      ],
      "id": "62021cd9-94da-46a9-856c-7626abb06524",
      "name": "Code2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9a7c20a-a42b-4e28-b809-8d45cce1fd52",
              "leftValue": "={{$json[\"message\"][\"text\"].startsWith(\"nyheter\")}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -768,
        -576
      ],
      "id": "482419fd-53ff-4edc-9c7b-a527a867b1a6",
      "name": "If"
    }
  ],
  "connections": {
    "Aftonbladet RSS": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expressen RSS": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TechCrunch RSS": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aftonbladet RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expressen RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "TechCrunch RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "36b9dc47-7c9c-447f-bcb4-c1d806bc1704",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-03T07:55:08.572Z",
      "updatedAt": "2025-10-03T07:55:08.572Z",
      "role": "workflow:owner",
      "workflowId": "lOHKsPNOWcnB3psP",
      "projectId": "ZOaOlv2Mz7C5Yg5V"
    }
  ],
  "tags": []
}