Backup_2025-10-10/Telegram
{
  "createdAt": "2025-08-29T18:44:51.167Z",
  "updatedAt": "2025-08-29T22:35:47.000Z",
  "id": "qM8jSQzj4fxhyr9j",
  "name": "Telegram",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ea65e2fc-e544-465a-9993-1c03110de25a",
      "name": "Telegram Trigger",
      "webhookId": "362a73f1-4b61-435b-a9a1-b7d4e2fb604f",
      "credentials": {
        "telegramApi": {
          "id": "7NKBIMQRWzjXDg0e",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "=Du skrev: {{$json[\"message\"][\"text\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        160
      ],
      "id": "ab3a4e66-cd0f-4882-a599-2310f48e6884",
      "name": "Send a text message",
      "webhookId": "ad80a581-2efc-4439-b308-38b7fc600e4d",
      "credentials": {
        "telegramApi": {
          "id": "7NKBIMQRWzjXDg0e",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9a7c20a-a42b-4e28-b809-8d45cce1fd52",
              "leftValue": "={{$json[\"message\"][\"text\"].startsWith(\"!kör\")}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -48
      ],
      "id": "6e5aa2e1-e8d9-4148-abe3-2e07ead01cb3",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        320
      ],
      "id": "dd87750c-a189-47b7-929b-2805ed9ebbc4",
      "name": "STOP"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "STOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STOP": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f4bf0669-839f-4ecc-b107-6ac6b92fa73b",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-29T18:44:51.180Z",
      "updatedAt": "2025-08-29T18:44:51.180Z",
      "role": "workflow:owner",
      "workflowId": "qM8jSQzj4fxhyr9j",
      "projectId": "ZOaOlv2Mz7C5Yg5V"
    }
  ],
  "tags": []
}