Backup_2025-10-10/Test Switch
{
  "createdAt": "2025-08-29T22:36:03.473Z",
  "updatedAt": "2025-09-01T19:40:28.000Z",
  "id": "YNtm41X8aHE96XA9",
  "name": "Test Switch",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        144
      ],
      "id": "e7c1af74-b7b9-468f-9bb2-3327fe7faf68",
      "name": "Telegram Trigger",
      "webhookId": "5ba2a873-0552-40e4-acf6-72b4d0f4fc9b",
      "credentials": {
        "telegramApi": {
          "id": "7NKBIMQRWzjXDg0e",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json[\"chatId\"]}}\n\n",
        "text": "={{$json[\"text\"]}}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        464
      ],
      "id": "b9e749f1-24e9-466d-a60c-bddcbff67e1e",
      "name": "Send a text message",
      "webhookId": "42967956-8d9a-4be4-ab7a-73ab43a53d85",
      "credentials": {
        "telegramApi": {
          "id": "7NKBIMQRWzjXDg0e",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"message\"][\"text\"].split(\" \")[0]}}",
                    "rightValue": "!hej",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "16f70245-421d-4371-aa19-34032a9f4eac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hej"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "78bad6e9-ed0b-4af3-b17a-e04053f3db8c",
                    "leftValue": "={{$json[\"message\"][\"text\"].split(\" \")[0]}}",
                    "rightValue": "!gpt",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Chat-GPT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bc468eb7-090a-4a0f-89b7-b75cb47db400",
                    "leftValue": "={{$json[\"message\"][\"text\"].split(\" \")[0]}}",
                    "rightValue": "!RSS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RSS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        128,
        144
      ],
      "id": "1bfc02dd-3816-4383-8d35-09a6ed8168e1",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Hämta hela texten från meddelandet\nconst text = $json[\"message\"][\"text\"];\n\n// Ta bort första ordet (!hej) och spara resten\nconst message = text.split(\" \").slice(1).join(\" \");\n\n// Bygg ihop fast text + användarens text\nconst combined = \"👉 Du skrev efter:\\n\\n\" + (message || \"ingenting 😅\");\n\n// Skicka tillbaka chatId och texten\nreturn {\n  json: {\n    chatId: $json[\"message\"][\"chat\"][\"id\"],\n    text: combined\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        80
      ],
      "id": "8f3a0ee5-6a2c-49a4-96c2-87685ebfd1fd",
      "name": "Code1"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b2ea1cc5-a0a3-4c15-b546-4a84ad397b41",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-29T22:36:03.483Z",
      "updatedAt": "2025-08-29T22:36:03.483Z",
      "role": "workflow:owner",
      "workflowId": "YNtm41X8aHE96XA9",
      "projectId": "ZOaOlv2Mz7C5Yg5V"
    }
  ],
  "tags": []
}